<h1>Customers#alphabetized</h1>
<h1>Alphabetized Customers</h1>

<nav>
  <%= link_to "All Customers", root_path %> |
  <%= link_to "Missing Email", missing_email_customers_path %>
</nav>

<div class="customer-grid">
  <%= render partial: "customer", collection: @customers %>
</div>
